
body {
    background-color: #012533;
    color: #ccc;
}

header a.logo
{
    display: inline-block;
    padding: 20px 0;
}

header a.logo img.img-responsive {
    display: inline-block;
}

nav ul
{
    display: inline-block;
}

nav ul li
{
    list-style-type: none;
}

nav a, nav a:hover, nav a:visited, nav a:active, nav a:focus {
    color: #ccc;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

.row .content
{
    margin: 0 2em;
}
